@import 'normalize';
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Merriweather|Lato');

/* INICIO - PAGE STYLING*/
$textColor: rgb(21,21,21);
$linkColor: cyan;
$secondColor: #84fab0;
$mainColor: #8fd3f4;
$avatarSize: 190px;
$fontTitle: 'Abril Fatface', cursive;
$fontDetails: 'Merriweather', serif;
$fontContent: 'Lato', sans-serif;
$textColor: #6b6b6b;
$linkColor: #2897ce;

/*INICIO - Tipografia*/
	header,body{
		font-family: $fontContent;
		color: $textColor;
	}

	.sobre{
		color: $textColor;
		h1 {
		    font-size: 55px;
		    margin: 0;
		    font-weight: normal;
		    font-family: $fontTitle;
		}

		@media screen and (max-width: 500px){
			h1{
				font-size: 40px;
			}
		}

		h2 {
		    font-weight: lighter;
		    font-size: 25px;
		    margin: -15px 0 0 0;
		    font-family: $fontDetails;
		    color: $mainColor;
		}

		@media screen and (max-width: 500px){
			h2{
				font-size: 18px;
			}
		}

		.sobre-desc p{
			text-align: justify;
		}
	}

	.side-one{
		h1{
			font-family: $fontTitle;
		    font-weight: normal;
		    font-size: 40px;
		    margin: 0;
		    color: $mainColor;
		}
	}

	.android, .windows, .web, footer{
		a{
			color: $linkColor;
			font-weight: bold;
			text-decoration: none;
		}
	}

	.social-links a {
	    color: $mainColor;
	    font-size: 25px;
	    margin: 0 10px;

	    &:hover{
	    	color: $secondColor;
	    }
	}
/*FIM - Tipografia*/

/*INICIO - Menu de navegação*/
	header{
		position: fixed;
		width: 100%;
		box-sizing: border-box;
		background-image: linear-gradient(to left, $secondColor, $mainColor);
	    background-repeat: repeat-x;
	    z-index: 100;
	}
	nav{
		max-width: 95%;
		margin: 0 auto;

		ul{
			text-align: center;
			margin: 0;

			li{
				display: inline-block;

				a{
					padding: 10px;
					text-transform: uppercase;
					color: #fff;
					font-size: 14px;
					text-decoration: none;
					display: block;

					&:hover, &.active, &:active{
						background-image: linear-gradient(to top, rgba(255, 255, 255, 0.5), transparent);
					    background-size: 50%;
					    background-repeat: repeat-x;
					    background-position: bottom;
					}
				}

			}
		}
	}

	nav ul a.menu-icon,
	nav ul li:first-child{
		padding: 10px;
		text-transform: uppercase;
		color: #fff;
		font-size: 14px;
		text-decoration: none;
		display: none;
	}

	@media screen and (max-width: 1024px){
		nav ul li:first-child{display: inline-block;}
		nav ul li:not(:first-child){display: none;}
		nav ul a.menu-icon{
			float: right;
			display: block;
			color: #fff;
			text-decoration: none;
		}
	}

	@media screen and (max-width: 1024px){
		nav.responsive {position: relative;}
		nav.responsive ul a.menu-icon{
			position: absolute;
			right: 0;
			top: 0;
		}
		nav.responsive ul{
			margin-left: -20px;
		}
		nav.responsive ul li{
			float: none;
			display: block;
			text-align: left;
		}
	}
/*FIM - Menu de navegação*/

/*INICIO - Imagem do perfil*/
	.avatar{
		position: relative;
		display: inline-block;
		margin: 20px;
		max-width: $avatarSize;
		width: 100%;
		color: $mainColor;
		font-size: 16px;
		box-shadow: none !important;
		transform: translateZ(0);
		padding: 10px;

		&:hover{
			&:before,
			&:after{
				border: 2px solid $secondColor;
				border-color: transparent $secondColor;
			}
		}

		*,
		&:before,
		&:after{
			-webkit-box-sizing: border-box;
	  		box-sizing: border-box;
	  		-webkit-transition: all 0.3s linear;
	  		transition: all 0.3s linear;
		}

		&:before,
		&:after{
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			border-radius: 50%;
			content: '';
			position: absolute;
			top: 0px;
			bottom: 0px;
			left: 0px;
			right: 0px;
			z-index: -1;
			border: 2px solid $mainColor;
			border-color: transparent $mainColor;
		}

		div{
			background-position: center !important;
		  	background-size: cover !important;
		  	height: $avatarSize;
		  	width: $avatarSize;
		  	border-radius: 50%;
		}

		figcaption {
		  	position: absolute;
		  	top: 5px;
		  	bottom: 5px;
		  	left: 5px;
		  	right: 5px;
		  	opacity: 0;
		  	background-color: rgba(0, 0, 0, 0.9);
		  	border-radius: 50%;
		}

		i {
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			font-size: 4em;
			z-index: 1;
		}

		a {
		  	position: absolute;
		  	top: 0;
		  	bottom: 0;
		  	left: 0;
		  	right: 0;
		  	z-index: 1;
		}
	}
/*FIM - Imagem do perfil*/

/*INICIO - Sobre*/
	.sobre{
		text-align: center;
		padding-bottom: 20px;
		padding-top: 30px;
		background: #fff;
		height: 100%;
	}
	.sobre-desc {
	    width: 60%;
	    margin: auto;
	}

	.sobre-btns {
	  	display: flex;
	  	justify-content: center;
	  	align-items: center;
	  	align-content: center;
	 	flex-wrap: wrap;
	  	width: 60%;
	  	margin: 0 auto;
	}

	.btn {
	  	margin: 10px;
	  	padding: 20px;
	  	text-align: center;
	  	text-transform: uppercase;
	  	transition: 0.5s;
	  	background-size: 200% auto;
	  	color: white;
	  	/*box-shadow: 0 0 20px #eee;*/
	  	border-radius: 10px;
	  	width: 200px;
	  	font-family: $fontContent;
	  	font-size: 14px;

	  	&:hover{
	  		background-position: right center;
	  		cursor: pointer;
	  	}
	}
	.btn-main {
	  	background-image: linear-gradient(to right, $secondColor 0%, $mainColor 51%, $secondColor 100%);
	}

	.fade-effect{
	    background-image: linear-gradient(to top, $mainColor, rgba(255,255,255,0));
	    background-repeat: repeat-x;
	    display: inline-block;
	    width: 100%;
	    height: 100px;
	    position: fixed;
	    bottom: 0;
	    left: 0;
	    z-index: 1;
	}
/*FIM - Sobre*/

/*INICIO - Divisão principal*/
	.main-content {
	    background: white;
	    width: 100%;
    	box-sizing: border-box;
    	min-height: calc(100vh - 100px);
	}

	.android, .windows, .web{
	    width: 90%;
	    margin: 10px auto 20px auto;
	    display: flex;
	  	justify-content: center;
	  	align-items: start;
	  	align-content: center;
	 	flex-wrap: wrap;
	 	padding-top: 25px;
		padding-bottom: 25px;
	}

	.side-one{
		width: 100%;
		box-sizing: border-box;
		flex-wrap: wrap;
		word-wrap: break-word;
		margin-bottom: 20px;
	}
	@media only screen and (max-width: 1024px){
		.side-one{
			margin-bottom: 35px;
		}
	}

	.side-two{
		width: 100%;
		box-sizing: border-box;
		flex-wrap: wrap;
	}

	footer{
		width: 100%;
	    box-sizing: border-box;
	    z-index: 3;
	    background: #fff;
	}
/*FIM - Divisão principal*/

/*INICIO - Footer*/
	.copyright {
	    font-size: 12px;
	    display: inline-block;
	    width: 100%;
	    text-align: center;
	    background: $textColor;
	    color: #fff;
	    height: 30px;
	    line-height: 30px; 
	}
	.copyright-date{
		display: inline-block;
	}

	.footer-place{
		width: 100%;
		height: 50px;
		text-align: center;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		background: #f1f1f1;
	}
	.footer-content{
		display: inline-block;
		text-align: right;
		padding-right: 10px;
	}

	.footer-name{
		display: inline-block;
		font-weight: bold;
		margin-right: 10px;
	}
	.footer-job{
		display: inline-block;
	}

	.contato{
		display: inline-block;
		text-align: left;
		border-left: 1px solid #c0c0c0;
		padding-left: 10px;

		i{
			margin-right: 10px;
		}

		a{
			font-weight: normal;
		}
	}

	@media only screen and (max-width: 640px){
		.contato {
		    border-left: none;
		}
		.footer-content{
			text-align: center;
		}
		.footer-place{
			height: 80px;
		}
	}
/*FIM - Footer*/

/*INICIO - Portfolio Itens*/
	.port-web, .port-mobile{
		display: inline-block;
		padding: 20px 10px;
		flex: 0 0 auto;
	}

	.zoomout{ zoom: 0.5; }
	.mac-zoom {
		zoom: 0.3;
		margin-right: 200px !important;
	}

	.screen{
		img{
			width: 100%;
			height:100%;
		}
	}

	.side-two{
		display: flex;
		flex-wrap: nowrap;
	  	overflow-x: auto;
	  	width: 90% !important;

	  	&::-webkit-scrollbar{
		    display: none;
		}
	}

	.scrollE, .scrollD{
		background: red;
	    width: 30px;
	    height: 100px;
	    display: inline-block;
	}
/*FIM - Portfolio Itens*/


/* FIM - PAGE STYLING*/